
$Dark_Blue:hsl(209, 23%, 22%);
$Very_Dark_Blue:hsl(207, 26%, 17%);
$Very_Dark_Blue_light_mood:hsl(200, 15%, 8%);
$Dark_Gray:hsl(0, 0%, 52%);
$Very_Light_Gray:hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

$text_color: white;

$text_weight_1: 300;
$text_weight_2: 600;
$text_weight_3: 800;

$transition_delay: 1s;

$shadow: 2px 3px 8px rgb(226, 226, 226);
$dark_Shadow: 2px 3px 8px rgb(24, 24, 24);
