@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: $Very_Light_Gray;
}

// dark mood settings
body.dark {
  background-color: $Very_Dark_Blue;
  color: $White;
  // dark mood feature
  .header_container {
    box-shadow: 0 0 0, 0 0 0, 0px 3px 5px rgb(24, 24, 24);
    background-color: $Dark_Blue;
  }

  .header--toggle--button {
    color: $text_color;
  }
  .moon {
    fill: $text_color;
  }

  // SERACH SECTION

  .search_icon {
    color: $text_color;
  }

  input {
    box-shadow: $dark_Shadow;
    background-color: $Dark_Blue;
    color: white;
    &::placeholder {
      color: $text_color;
    }
  }

  // FILTER SECTION

  .filter_trigger {
    box-shadow: $dark_Shadow;
    background-color: $Dark_Blue;
  }
  .inputs {
    display: none;
  }

  .filter_list {
    box-shadow: $dark_Shadow;
    background-color: $Dark_Blue;
  }

  // LANDING PAGE COUNTRY CARD

  .card--container {
    box-shadow: $dark_Shadow;
    background-color: $Dark_Blue;
  }
  .links {
    color: $text_color;
  }

  .returnBtn {
    box-shadow: $dark_Shadow;
  }
  .returnBtn button{
    color: $text_color;
  }
  .boundary--country--btn {
    box-shadow: $dark_Shadow;
    color: $text_color;
  }
}

.header_container {
  box-shadow: 0 0 0, 0 0 0, 0px 3px 5px lightgray;
  background-color: white;
}
.header {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
h1 {
  font-weight: $text_weight_3;
  font-size: 18px;
}
.header--toggle--button {
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: $text_weight_1;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: black;
}
.moon {
  width: 20px;
  height: 30px;
  margin-right: 4px;
}

.loader{
  font-size: 4rem;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -50px;
  margin-top:-50px ;
  animation: rotate 1.5s infinite linear ;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

// SERACH SECTION
.search_form--container{
  width: 90%;
  margin: 0 auto;
}
.search_form {
  padding: 1.5rem 0;
  position: relative;
}
.search_icon {
  position: absolute;
  top: 38%;
  left: 20px;
  width: 28px;
  height: 28px;
  color: $Dark_Gray;
}
input {
  width: 100%;
  display: block;
  height: 60px;
  border-radius: 5px;
  border: none;
  box-shadow: $shadow;
  outline: none;
  padding-left: 70px;
  font-size: 16px;
  &::placeholder {
    font-size: 16px;
    color: $Dark_Gray;
  }
}

// FILTER SECTION

.filter_container {
  position: relative;
  width: 50%;
  margin-left: 20px;
}
.filter_trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px 15px 15px;
  font-size: 16px;
  width: 100%;
  box-shadow: $shadow;
  border-radius: 5px;
  background-color: $text_color;
  outline: none;
  border: none;
}

.filter_list {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  margin: 8px 0;
  padding: 15px;
  list-style-type: none;
  box-shadow: $shadow;
  background-color: $text_color;
  li {
    line-height: 1.8;
  }
}

// LANDING PAGE COUNTRY CARD
.cards--grid-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: center;
  gap: 2%;
}

.card--container {
  display: inline-block;
  margin: 1.8rem auto;
  height: 360px;
  background-color: $text_color;
  flex-basis: 300px;
  border-radius: 5px;
  box-shadow: $shadow;
  figure {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 180px;
    img {
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card--details--container {
    padding: 10px 5px 10px 15px;
    margin-top: 10px;
    h2 {
      margin: 10px 3px;
      line-height: 1.1;
      font-weight: 900;
    }
  }
  .card--details {
    line-height: 1.6;
  }
  span {
    font-weight: $text_weight_3;
  }
}
.links {
  text-decoration: none;
  color: black;
}
// LANDING PAGE MEDIA QUERIES
@media(min-width: 766px){
  h1 {
    font-size:1.6rem;
  }

  .header--toggle--button {
    width: 120px;
    font-size: 17px;
  }
  .search--region--container{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    flex-flow: row wrap;
    width: 95%;
    margin: 2.5rem auto;
  }
  .search_form--container{
    flex-basis: 50%;
    margin: 0;
  }
  .search_form {
    padding: 0;
  }
  .search_icon {
    position: absolute;
    top: 25%;
  }
  .filter_container {
    position: relative;
    flex-basis: 20%;
    margin: 0;
  }
  .filter_trigger {
    height: 60px;
  }
  .cards--grid-container {
    justify-content: space-around;
  }
  .card--container {
    margin: 1.8rem 0;
  }

}
@media(min-width: 1200px){
  .landing-page{
    width: 95%;
    margin: 0 auto;
  }
  .cards--grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 3%;
    row-gap: 0.3%;
  }
  .card--container {
    height: 400px;
    flex-basis: 20%;
    margin: 0;
    figure {
      height: 200px;
    }
    .card--details--container {
      padding: 10px 5px 10px 15px;
      margin-top: 10px;
      h2 {
        font-size: auto;
        line-height: 1.1;
      }
    }
    .card--details {
      line-height: 1.6;
      font-size: 17px;
    }
  }
}


// MORE DETAIL PAGE
.links--container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  margin: 2rem auto;
}
.returnBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  box-shadow: $shadow;
  height: 30px;
  padding: 4px 20px;
  font-size: 15px;
}

.returnBtn button{
  border: none;
  background-color: transparent;
  font-weight: $text_weight_2;
  margin: 0 5px;
  color: black;
}

.single--country--details-container {
  width: 85%;
  margin: 3rem auto;
}

.country--flag--container {
  margin-bottom: 2.2rem;
}
.country--flag--container figure {
  height: 250px;
  width: 100%;
}

.country--flag--container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country--name {
  margin: 10px 0;
}

.list--grid {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-flow: row wrap;
}

.Single--country--details {
  margin: 0 0 1.5rem 0;
  padding: 0;
  list-style-type: none;
  flex-basis: 100%;
}

.Single--country--details li {
  font-size: 15px;
  font-weight: $text_weight_2;
  line-height: 2;
}

.Single--country--details li span {
  font-weight: $text_weight_1;
  font-size: 14px;
}

.bounaries--container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
.boundaries--header {
  flex-basis: 100%;
  font-size: 15px;
  font-weight: $text_weight_2;
}
.boundaries--btn {
  flex-basis: 100%;
}
.boundary--country--btn {
  display: inline-block;
  width: max-content;
  margin: 10px 5px 10px 0;
  box-shadow: 2px 3px 8px rgb(213, 213, 213);
  background-color: transparent;
  color: black;
  outline: none;
  font-size: 13px;
  padding: 4px 20px;
  border: none;
}

// SINGLE COUNTRY PAGE MEDIA QUERIES
@media (min-width: 766px){
  .returnBtn {
    font-weight: $text_weight_3;
  }
  
  .single--country--details-container {
    width: 95%;
    display: flex;
    margin: 3rem auto;
    justify-content: flex-start;
    align-items: normal;
  }
  .country--right-details{
    flex-basis: 50%;
    padding: 20px  0 0 25px;
  }
  .country--flag--container {
    flex-basis: 50%;
    margin-bottom: 0;
  }
  .country--flag--container figure {
    height: 350px;
    width: 100%;
  }
  
  .country--name {
    text-align: left;
  }
  
  .list--grid {
    flex-basis: 100%;
    gap: 3%;
  }
  
  .Single--country--details {
    flex-basis: 48%;
    margin: 0 0 1.3rem 0;
  }
  
  .Single--country--details li {
    font-weight: $text_weight_3;
    line-height: 1.9;
  }
  
  .Single--country--details li span {
    font-weight: $text_weight_1;
    font-size: 14.5px;
  }
  
  .boundaries--header {
    margin-top: 10px;
    font-weight: $text_weight_3;
  }
  .boundary--country--btn {
    margin: 5px 5px;
    font-size: 13px;
  }
}
@media (min-width: 1200px){  
  .single--country--details-container {
    width: 85%;
    gap: 3%;
  }
  .country--right-details{
    flex-basis: 45%;
    padding: 20px  0 0 25px;
  }
  .country--flag--container {
    flex-basis: 45%;
  }
  
  .Single--country--details li {
    font-size: 16px;
    line-height: 2;
  }
  
  .Single--country--details li span {
    font-size: 15px;
  }
  
  .boundaries--header {
    font-size: 16px;
    margin-top: 5px;
  }
  .boundaries--btn {
    flex-basis: 100%;
  }
  .boundary--country--btn {
    margin: 10px 5px 0 0;
    font-size: 14px;
  }
}